<launch>
	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=scan">
		<param name="delta" type="double" value=".04" />
		
		<param name="temporalUpdate" type="double" value="4" /> <!-- Process a scan if the last scan proccessed is older than the update time in seconds. A value less than zero will turn time based updates off. -->
		<param name="xmin" type="double" value="-2" /> <!-- Values in m -->
		<param name="xmax" type="double" value="6" />
		<param name="ymin" type="double" value="-6" />
		<param name="ymax" type="double" value="6" />
		<param name="map_update_interval" type="double" value="2.0" /> <!-- How long (in seconds) between updates to the map. Lowering this number updates the occupancy grid more often, at the expense of greater computational load. -->
		<param name="maxUrange" type="double" value="8.0" /> <!-- maximum range of the laser scanner that is used for map building (default: same as maxRange) -->
		<param name="maxRange" type="double" value="8.0" /> <!-- maximum range of the laser scans. Rays beyond this range get discarded completely. -->
		<param name="linearUpdate" type="double" value="0.1" /> <!-- Update map after a driven distance of 0.1m -->
		<param name="angularUpdate" type="double" value="0.1" /> <!-- Update map after a turn of 0.1 rad = 5.7 deg -->

	</node>
</launch>
